body {
    overflow-x: hidden;
}

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    background-color: black;
    color: rgb(175, 170, 170);
    height: 2rem;
    padding-top: 0.3rem;
    font-size: 0.9rem;
}

.top-nav > * {
    display: inline;
    padding: 0 1rem;
}

.right {
    margin-left: 20rem;
}

.dropdown-content {
    display: none;
}

.dropdown-content a {
      display: block;
}

.bottom-nav {
    display: flex;
    justify-content: space-between;
    padding-left: 4rem;
    background-color: rgb(219, 213, 213);
    color: rgb(49, 47, 47);
    height: 3rem;
    padding-top: 1.2rem;
    font-size: 0.8rem;
    width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 1;
}

.search-icon {
    height: 100%;
    margin-left: 20rem;
    padding-right: 0.8rem;
    padding-bottom: 2rem;
}

.fa-search {
    border-left: 0.1rem solid rgb(122, 119, 119);
    padding-left: 0.5rem;
}

.festival {
    background-color: rgb(207, 207, 9);
    height: 1.8rem;
    padding-top: 0.5rem;
    padding-left: 4rem;
    width: 100%;
    position: fixed;
    overflow: hidden;
    top: 5rem;
    z-index: 1;
}

.main-section {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  margin: 5rem 0;
}

.main-img,
.minor-img {
    display: flex;
    flex-direction: column;
    position: relative;
}

.main-image {
    width: 55rem;
    height: 30rem;
}

.main-image img {
    width: 99%;
    height: 100%;
}

.minor-image img {
    width: 28rem;
    height: 14.4rem;
}

.img-container {
    padding-bottom: 1rem;
}

.date,
.tnw-logo,
.main-img-info,
.minor-img-info {
    position: absolute;
}

.date {
    bottom: 28rem;
    left: 42rem;
}

.tnw-logo {
    width: 25rem;
    bottom: 23rem;
    left: 3rem;
}

.main-img-info {
    bottom: 14rem;
    left: 3rem;
    line-height: 2;
}

.img-container {
    position: relative;
}
.minor-img-info {
    bottom: 6rem;
    left: 1.8rem;
    line-height: 1.5;
}

.latest-news {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    padding: 4rem 5rem;
}

.latest-heading {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.info {
  display: flex;
  justify-content: space-around;
}

.latest-funding {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.5rem;
}

.latest-funding img {
    width: 4.5rem;
    height: 3.5rem;
    position: relative;
    top: 4.5rem;
    padding-left: 1rem;
}

.latest-title {
    background-color: rgb(255, 30, 0);
    height: 2.5rem;
}

.latest-price {
    background-color: rgb(204, 188, 191);
    height: 3rem;
}

.latest-title a,
.latest-price a {
    position: absolute;
    margin-left: 5.5rem;
    padding-top: 0.5rem;
}

.latest {
    padding: 2rem 5rem 3rem 5rem;
}

.tags {
    margin: 1rem 0 1rem 0.7rem;
}

.tags a {
    line-height: 1.5;
}

.most-popular {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding: 4rem 5rem;
}

.popular-main-img {
    width: 23rem;
    height: 18rem;
}

.popular-minor-img {
    width: 5rem;
    height: 5rem;
}

.latest-deals {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0.5rem 2rem 5rem;
}

.latest-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    padding: 1rem 5rem;
}

.latest-items img {
    width: 18rem;
}

.footer-top {
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 33, 33);
    align-items: center;
    height: 9rem;
}

.social-icons > * {
    display: inline;
}

.footer-items li {
    display: inline;
}

.footer-bottom {
    background-color: black;
    text-align: center;
    height: 6rem;
}

.footer-top,
.footer-bottom {
    color: #aaa;
}

.footer-img {
    width: 4rem;
}
